body
{   
     background: linear-gradient(-90deg, red, yellow);
    background-size:cover;
    background-position: center;
}


.form-control
{   background-color: transparent !important;
}

.col-md-6
{   width: 50%;
    float: none;
    margin: 50px auto;
    background: linear-gradient(-90deg, red, yellow);
    padding: 10 px;
}

.form-group
{   width: 50%; 
    margin: 50px auto;
    display: block;
}

h2
{  width: 50%; 
    margin: 150px auto;
    display: block;
}

.Sachin
{    width: 50%;
    margin-left: auto;
	margin-right: auto;
    display: block;
}